/*
    Global Css code for the things all pages have in common
*/

:root{
    --primary : #fefefe;
    --secondary : #202020;
}

@media (prefers-color-scheme: dark){
    :root{
        --primary : #202020;
        --secondary : #fefefe;
    }
}

html, body, #ROOT, #main, #background, #content{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

html{
    background: var(--primary);
    color: var(--secondary);
}

#main, #background{
    flex-direction: column;
}

#main{
    color: var(--secondary);
}

/*Css code for background*/

#background{
    position: absolute;
}

.backgroundrow{
    width: 90%;
    height: 33%;
}

.colouredcircle{
    background: linear-gradient(#b342ff, #dfaffffa);
}

#colouredcircle1, #colouredcircle3{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    float: right;
}

#colouredcircle2{
    width: 150px;
    height: 150px;
    border-radius: 80px;
    float: left;
}

/*Navbar and Footbar Css code*/

#nav, #foot{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}

#nav{
    height: 40px;
    padding-top: 10px;
    top: 0;
    left: 0;
    justify-content: space-between;
    /*border-bottom: 2px solid black;*/
}

#logo{
    background: url("./img/logo.svg") no-repeat;
    background-size: cover;
    background-position: center;
    width : 120px;
    height: inherit;
    margin-left: 20px;
}

/*#main #logo{
    width : 200px;
    height: 70px;
}*/

#setbtn{
    display: flex;
    width: 20%;
    height: inherit;
    align-items: center;
    justify-content: space-around;
}

.tinybtnsback, .tinybtns{
    border-radius: 13px;
}

.tinybtnsback{
    width: 20px;
    height: 20px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tinybtns{
    width: 20px;
    height: 20px;
    border: 1px solid var(--secondary);
}

.tinybtns:active{
    border: 1px solid #b342ff;
}

#home{
    background: url("./img/home.svg") no-repeat;
    background-size: cover;
    background-position: center;
}

#settings{
    background: url("./img/settings.svg") no-repeat;
    background-size: cover;
    background-position: center;
}

/*#theme{
    background: url("./img/sun.png") no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}*/

#foot{
    height: 20px;
    bottom: 0;
    left: 0;
    justify-content: center;
}

/*
    End of Navbar and Footbar Css code

    Under Global Css, css code for searchbar
*/

#searchform, #searcharea, #searchbar{
    display: flex;
    align-items: center;
}

#searchform, #searcharea{
    margin: 0;
    justify-content: center;
}

#searchform{
    width: 50%;
    height: 100px;
    position: relative;
}

#searcharea{
    width: 100%;
    height: 60px;
    flex-direction: column;
}

#searchbar{
    width: 100%;
    height: 60px;
    justify-content: space-around;
    border-radius: 10px;
    background: #fefefe;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
}

#searchbar:focus{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#searchbar input[type="text"], #searchbtn{
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

#searchbar input[type="text"]{
    width: 80%;
    height: inherit;
    border: none;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

#searchbtn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url("./img/search.svg") no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
}

#searchbtn:active{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/*
    End of searchBar Css code

    Main page specific css code
*/

#mainsearchform{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 60%;
}

.unorder{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.order{
    width: 70px;
    height: inherit;
    border-bottom: 1px solid var(--secondary);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.order:hover{
    color: #9b00ff;
    border-bottom: 1px solid #9b00ff;
}

.order:active{
    color: #b342ff;
    border-bottom: 1px solid #b342ff;
}

#container{
    overflow-y: scroll;
    position: absolute;
    width: 90%;
    bottom: 20px;
    height: 68%;
}

#container a{
    text-decoration: none;
}

#container .asset{
    width: 300px;
    min-height: 320px;
    display: flex;
    float: left;
    margin: 20px 30px 20px 30px;
    padding: 10px;
    align-items: flex-start;
    color: #202020;
    background: #fefefeca;
    box-shadow: 0px 0px 0px rgb(255, 255, 255), 
    4px 4px 10px rgb(0, 0, 0, 0.3);
}

#container .asset .innerassets{
    width: 100%;
    /*min-height: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#container .asset .innerassets img{
    width: 100%;
    border-radius: 8px;
}

/*#container .asset .innerassets .namenicon p{
    color: var(--secondary);
}*/

#container .asset .innerassets .namenicon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container .asset .innerassets .namenicon div{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

#container .asset .innerassets .namenicon #nameicon{
    background: url("./img/modelicon.png") no-repeat;
    background-size: cover;
    background-position: center;
}

#container .asset .innerassets .namenicon #websiteicon{
    background: url("./img/websiteicon.png") no-repeat;
    background-size: cover;
    background-position: center;
}

#container .asset .innerassets .namenicon #dimensionicon{
    background: url("./img/dimensionicon.png") no-repeat;
    background-size: cover;
    background-position: center;
}

/*
    End of main page specific code

    settings specific code
*/

#settingscontainer{
    width: 70%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fefefee1;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
}

.innercontainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settingsbtns{
    justify-content: flex-start;
    width: 25%;
    /*border: 1px solid black;
    border-right: 1px solid black;*/
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    2px 0px 4px rgba(0, 0, 0, 0.3);
}

#settingsobject{
    justify-content: flex-start;
    width: 80%;
    overflow-y: scroll;
}

.btns{
    padding: 10px 0 10px 0;
    text-align: center;
    /*margin-bottom: 1px;*/
    cursor: pointer;
    color: #202020;
    /*border: 1px solid black;*/
    border-bottom: 1px solid black;
    width: 100%;
}

.btns:active{
    background: linear-gradient(#b342ff, #dfaffffa);
}

.addsite{
    width: 60%;
    height: 90%;
    padding: 10px 0 10px 0;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
}

.addsite input[type="text"], .addsite .duo, .addsite .submitcon{
    width: 80%;
    height: 30px;
    padding: 0 0 0 0;
    margin: 5px 0 5px 0;
}

.addsite input[type="text"]{
    border: 1px solid #202020;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.addsite input[type="text"]:focus{
    outline: 2px solid #b342ff;
    border: none;
}

.addsite .duo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addsite .duo input[type="text"]{
    width: 40%;
    padding: 0 5px 0 5px;
    margin: 0 0 0 0;
}

.addsite .submitcon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.addsite .submitcon input[type="submit"]{
    outline: none;
    border: none;
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
    margin-left: 10px;
    /*font-size: xx-large;*/
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(#b342ff, #dfaffffa);
    color: var(--secondary);
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
}

.addsite .submitcon input[type="submit"]:active{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#models, #modelcon{
    margin-top: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.row div{
    width: 90%;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.row p{
    margin-left: 6px;
    font-size: xx-large;
}

.row div:active{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.row img{
    height: 600px;
    width: 100%;
    border-bottom: 2px solid black;
}
  
/*@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (min-width : 1024px), (max-height : 800px){
    #navbar{
        height: 30px;
        border-bottom: none;
    }

    #nav{
        height: 100px;
    }
    
    #main{
        width: 60%;
    }   

    #burger, #burg{
        height: 80%;
        width: 30px;
    }

    #burg{
        height: 20%;
    }
    
    #burger div, #notifycancel div, #burg div{
        height: 2px;
    }

    #burger .line11, #notifycancel .line11, #burg .line11{
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    
    #burger .line31, #notifycancel .line31, #burg .line31{
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .logochar{
        font-size: 50px;
    }
    
    #search, #mainsearch{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #mainsearch .unorder, #mainsearch .order{
        width: 30%;
        height: 20px;
    }
    
    #searchgroup{
        width: 80%;
    }

    #searchbar{
        height: 50px;
        border-radius: 25px;
    }
    
    #searchbtn{
        width: 50px;
        height: inherit;
        border-radius: 25px;
    }

    #search input[type="text"], #mainsearch input[type="text"]{
        font-size: 20px;
    }

    #search ul li input[type="checkbox"], #mainsearch ul li input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }

    #search ul li, #mainsearch ul li{
        width: 70px;
    }
    
    #search ul li h3, #mainsearch ul li h3{
        font-size: medium;
        font-weight: lighter;
    }

    #foot{
        height: 40px;
        border-top: none;
        font-size: medium;
    }

    .menu1 div{
        display: none;
    }

    #menu{
        top: 30px;
        font-size: 20px;
        right: 0;
    }
    
    #menu a{
        width: 80%;
    }
    
    .menu2{
        opacity: 100%;
        height: 94%;
        width: 20%;
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
        4px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .social{
        width: 30px;
        height: 30px;
    }

    #policy{
        font-size: large;
        font-weight: lighter;
        height: 900px;
    }

    #input{
        flex-direction: row;
    }

    #analytics, #authentication, #socialmedia{
        width: 40%;
        font-size: 30px;
    }

    #authentication, #socialmedia{
        width: 80%;
    }

    #authentication input[type="password"], input[type="text"]{
        width: 94%;
        height: 40px;
        font-size: medium;
        margin-bottom: 20px;
    }

    .btn{
        height: 40px;
        width: 100px;
        font-size: medium;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .btn p{
        font-size: medium;
    }

    #sitepolicy textarea, #sitenotification textarea, #siteads textarea{
        width: 99%;
        height: 80px;
        font-size: medium;
    }
    
    #sitepolicy #privacy, #sitenotification #privacy, #siteads #privacy{
        height: 800px;
    }
    
    #sitepolicy input[type="checkbox"], #sitenotification input[type="checkbox"], #siteads input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }
    
    #sitepolicy *, #sitenotification *, #siteads *{
        margin-bottom: 40px;
    }

    #linkandpass{
        width: 40%;
    }
    #piebtn, #loadtext{
        font-size: xx-large;
        text-align: center;
    }
    #notification{
        position: absolute;
        left: 20px;
        bottom: 15px;
        margin: 0 0 0 0;
        width: 40%;
    }
    #notification div{
        margin-left: 15px;
    }
    #notification #notify{
        width: 90%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 40px;
    }
    #notification #notify p{
        margin: 0 0 0 0;
    }
    #notification #notify #notifycancel{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #notification #notify #notifycancel:active{
        border: 1px solid black;
    }
    #notification #notifyinfo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        width: 94%;
        height: 200px;
    }

    #models, #modelcon{
        margin-top: 60px;
    }
    
    .row{
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .row a{
        width: 20%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .row p{
        font-size: medium;
    }
    
    .row div{
        width: 100%;
    }
    
    
    .row img{
        height: 220px;
    }
    #loadimg {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        margin-bottom: 20px;
    }
}*/