#? stdtmpl(subchar = '$', metachar = '#')
#
#
#proc frontend*(js, path : string, content : Site): string =
# result = ""
<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="${path}style.css">
        <!--<meta name="theme-color" content="#b342ff">-->
        <meta charset = "utf-8">
        <title>$content.logo</title>
    </head>
    <body id = "body">

        #if js == "error":
            <p>You just caused an error. If the error seems like a bug,
             please report to alayaa694@gmail.com. Thanks</p>
        
        #else:
            <main id="ROOT"></main>

        #end elif

    </body>
    <script src="${path}frontend/${js}.js"></script>
</html>
#end proc