@font-face {
    font-family: 'bickley_scriptplain';
    src: url('font2/bickley_script_plain_regular-webfont.woff2') format('woff2'),
         url('font2/bickley_script_plain_regular-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

html, body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}

.red{
    color: rgb(255, 66, 66);
}

.green{
    color: rgb(67, 255, 67);
}

#ROOT, #models, #modelcon{
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#canvas{
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#navbar, #nav{
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}

#nav{
    position: fixed;
    justify-content: space-between;
    height: 240px;
    background: #fefefe;
}

#siteads .add{
    width: 100%;
    height: 60px;
    display: flex;
    /*align-items: center;*/
}

#plus{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 90%;
    margin-bottom: 0;
}

#plus:active{
    border: 1px solid black;
}

#plus div{
    background: black;
    width: 40px;
    height: 2px;
    margin-bottom: 0;
}

#line111{
    transform: rotate(90deg) translate(10px, 0);
}

#line222{
    transform: translate(0, -9px);
}

#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fefefe;
}

#foot{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    font-size: larger;
}

.add input[type="text"]{
    width: 80%;
}

.cancel{
    width: 45px;
    height: 45px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#burger, #burg{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#burg{
    top: 10px;
}

#burger:active, .cancel:active, #burg:active{
    border: 1px solid black;
}

#burger div, .cancel div, #notifycancel div, #burg div{
    width: inherit;
    height: 6px;
    background-color: black;
    transition: 840ms;
}

.cancel #line1111, #line2222{
    margin-bottom: 0;
    height: 3px;
}

.cancel #line1111{
    transform: rotate(-45deg) translate(-22px, 2px);
}

.cancel #line2222{
    transform: rotate(45deg) translate(-2px, 22px);
}

#menu{
    position: fixed;
    top: 110px;
    background: #fefefe;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: space-evenly;
    font-size: 60px;
    transition: 840ms;
}

#legal, #social{
    margin-left: 20px;
}

#legal a{
    height: 150px;
}

#social{
    border-bottom: 2px solid black;
}

#menu a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.menu1{
    opacity: 0;
    height: 0%;
    width: 0%;
}
.menu2{
    opacity: 100%;
    height: 94%;
    width: 100%;
}

#burger .line11, #burg .line11{
    transform: rotate(-45deg) translate(-5px, 22px);
}
#burger .line21, #burg .line21{
    opacity: 0;
}
#burger .line31, #burg .line31{
    transform: rotate(45deg) translate(-5px, -22px);
}

#notifycancel .line11{
    transform: rotate(-45deg) translate(-5px, 10px);
}

#notifycancel .line31{
    transform: rotate(45deg) translate(-5px, -10px);
}

.social{
    height: 100px;
    width: 100px;
}

#youtube{
    background: url('img/youtube_black.png') no-repeat;
    background-position: center;
    background-size: contain;
}

#twitter{
    background: url('img/twitter_black.png') no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 100px;
}

#gmail{
    background: url('img/mail.png') no-repeat;
    background-position: center;
    background-size: contain;
}

#logo{
    display: flex;
}

.logochar{
    font-family: bickley_scriptplain;
    font-size: 150px;
}

#search, #mainsearch{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#mainsearch{
    width: 80%;
    margin-top: 10px;
}

#searchbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 80px;
}

#searchbtn{
    background: none;
    width: 100px;
    height: inherit;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    outline: none;
}

#searchbtn:active{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#searchbtn img{
    height: inherit;
    width: inherit;
}

#search input[type="text"], #mainsearch input[type="text"]{
    background: none;
    width: 800px;
    height: 110px;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 0;
}

#mainsearch input[type="text"]{
    width: 70%;
}

#searchbar:focus{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#search ul{
    list-style: none;
}

#mainsearch .unorder, #mainsearch .order{
    display: flex;
    padding: 0 0 0 0;
    width: 30%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}

#mainsearch .order{
    width: 50%;
}

#search ul li, #mainsearch ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

#search ul li h3, #mainsearch ul li h3{
    font-size: xx-large;
}

#search ul li input[type="checkbox"], #mainsearch ul li input[type="checkbox"]{
    width: 50px;
    height: 50px;
}

#policy{
    width: 90%;
    height: 1000px;
    font-size: xx-large;
}

.admininfo{
    width: 80%;
    height: 30%;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-family: bickley_scriptplain;
    font-size: 60px;
    margin-bottom: 60px;
    margin-top: 60px;
}

#analytics *{
    margin-left: 40px;
}

#sitepolicy textarea, #sitenotification textarea, #siteads textarea{
    width: 98%;
    outline: none;
    border-bottom: 2px solid black;
    height: 80px;
    font-size: medium;
    resize: none;
    border: 1px solid black;
}

#sitepolicy #privacy, #sitenotification #privacy, #siteads #privacy{
    height: 400px;
}

#sitepolicy input[type="checkbox"], #sitenotification input[type="checkbox"], #siteads input[type="checkbox"]{
    width: 40px;
    height: 40px;
}

#sitepolicy *, #sitenotification *, #siteads *{
    margin-bottom: 40px;
}

#socialmedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn{
    background: none;
    outline: none;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
    height: 80px;
    width: 180px;
    font-size: xx-large;
    font-weight: lighter;
    margin-bottom: 40px;
    border: 1px solid black;
    text-align: center;
}

.btn p{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:active{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#authentication input[type="password"], input[type="text"]{
    width: 94%;
    height: 90px;
    text-align: center;
    background: none;
    outline: none;
    font-size: xx-large;
    margin-bottom: 50px;
    border: 1px solid black;
}

#authentication{
    align-items: center;
}

#input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#linkandpass{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#piechart{
    border-radius: 50%;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

#piebtn, #loadtext{
    font-size: 60px;
    text-align: center;
}

#svisitors{
    color: rgb(0, 136, 136);
}

#mvisitors{
    color: rgb(0, 133, 0);
}

#pvisitors{
    color: rgb(167, 0, 0);
}

#notification{
    position: absolute;
    bottom: 80px;
    margin: 0 0 0 0;
    width: 99%;
    height: 20%;
    border: 2px solid black;
}
#notification div{
    margin-left: 15px;
}
#notification #notify{
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 60px;
}
#notification #notify p{
    margin: 0 0 0 0;
}
#notification #notify #notifycancel{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#notification #notify #notifycancel:active{
    border: 1px solid black;
}
#notification #notifyinfo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 94%;
    height: 200px;
}

#models, #modelcon{
    margin-top: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.row div{
    width: 90%;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.row p{
    margin-left: 6px;
    font-size: xx-large;
}

.row div:active{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.row img{
    height: 600px;
    width: 100%;
    border-bottom: 2px solid black;
}

#loadimg {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (min-width : 1024px), (max-height : 800px){
    #navbar{
        height: 30px;
        border-bottom: none;
    }

    #nav{
        height: 100px;
    }
    
    #main{
        width: 60%;
    }   

    #burger, #burg{
        height: 80%;
        width: 30px;
    }

    #burg{
        height: 20%;
    }
    
    #burger div, #notifycancel div, #burg div{
        height: 2px;
    }

    #burger .line11, #notifycancel .line11, #burg .line11{
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    
    #burger .line31, #notifycancel .line31, #burg .line31{
        transform: rotate(45deg) translate(-5px, -5px);
    }

    .logochar{
        font-size: 50px;
    }
    
    #search, #mainsearch{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #mainsearch .unorder, #mainsearch .order{
        width: 30%;
        height: 20px;
    }
    
    #searchgroup{
        width: 80%;
    }

    #searchbar{
        height: 50px;
        border-radius: 25px;
    }
    
    #searchbtn{
        width: 50px;
        height: inherit;
        border-radius: 25px;
    }

    #search input[type="text"], #mainsearch input[type="text"]{
        font-size: 20px;
    }

    #search ul li input[type="checkbox"], #mainsearch ul li input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }

    #search ul li, #mainsearch ul li{
        width: 70px;
    }
    
    #search ul li h3, #mainsearch ul li h3{
        font-size: medium;
        font-weight: lighter;
    }

    #foot{
        height: 40px;
        border-top: none;
        font-size: medium;
    }

    .menu1 div{
        display: none;
    }

    #menu{
        top: 30px;
        font-size: 20px;
        right: 0;
    }
    
    #menu a{
        width: 80%;
    }
    
    .menu2{
        opacity: 100%;
        height: 94%;
        width: 20%;
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
        4px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .social{
        width: 30px;
        height: 30px;
    }

    #policy{
        font-size: large;
        font-weight: lighter;
        height: 900px;
    }

    #input{
        flex-direction: row;
    }

    #analytics, #authentication, #socialmedia{
        width: 40%;
        font-size: 30px;
    }

    #authentication, #socialmedia{
        width: 80%;
    }

    #authentication input[type="password"], input[type="text"]{
        width: 94%;
        height: 40px;
        font-size: medium;
        margin-bottom: 20px;
    }

    .btn{
        height: 40px;
        width: 100px;
        font-size: medium;
        font-weight: lighter;
        margin-bottom: 20px;
    }

    .btn p{
        font-size: medium;
    }

    #sitepolicy textarea, #sitenotification textarea, #siteads textarea{
        width: 99%;
        height: 80px;
        font-size: medium;
    }
    
    #sitepolicy #privacy, #sitenotification #privacy, #siteads #privacy{
        height: 800px;
    }
    
    #sitepolicy input[type="checkbox"], #sitenotification input[type="checkbox"], #siteads input[type="checkbox"]{
        width: 20px;
        height: 20px;
    }
    
    #sitepolicy *, #sitenotification *, #siteads *{
        margin-bottom: 40px;
    }

    #linkandpass{
        width: 40%;
    }
    #piebtn, #loadtext{
        font-size: xx-large;
        text-align: center;
    }
    #notification{
        position: absolute;
        left: 20px;
        bottom: 15px;
        margin: 0 0 0 0;
        width: 40%;
    }
    #notification div{
        margin-left: 15px;
    }
    #notification #notify{
        width: 90%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 40px;
    }
    #notification #notify p{
        margin: 0 0 0 0;
    }
    #notification #notify #notifycancel{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #notification #notify #notifycancel:active{
        border: 1px solid black;
    }
    #notification #notifyinfo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        width: 94%;
        height: 200px;
    }

    #models, #modelcon{
        margin-top: 60px;
    }
    
    .row{
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .row a{
        width: 20%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .row p{
        font-size: medium;
    }
    
    .row div{
        width: 100%;
    }
    
    
    .row img{
        height: 220px;
    }
    #loadimg {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        margin-bottom: 20px;
    }
}